<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KeraLua" version="1.0.22" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.11.3" targetFramework="net452" />
  <package id="MonoMod.Utils" version="20.11.26.2" targetFramework="net452" />
  <package id="NLua" version="1.4.25" targetFramework="net452" />
  <package id="YamlDotNet" version="8.1.2" targetFramework="net452" />
</packages>